<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Registros</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" shape="round" size="large">
        <ion-icon name="search-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
  <div class="layout-page">
    <!-- Navbar -->

    <p class="center">Ultimo Sensado</p>
    

    <!-- / Navbar -->

    <!-- Content wrapper -->
    <div class="content-wrapper">
      <!-- Content -->

      <div class="container-xxl flex-grow-1 container-p-y">


        <h4 class="mb-4">
          <span class="text-muted fw-light">Clientes/</span> Registros optenidos</h4>

        <!-- Basic Bootstrap Table -->
        <div class="card">
          <div class="table-responsive text-nowrap" style="margin: 1rem;">
            
            <ion-list *ngFor="let registro of registros">
              <ion-item-sliding>
          
                <ion-item>
                <ion-avatar slot="start">
                  <div class="avatar">
                    {{ "Yanga,Ver.".substring(0, 1).toUpperCase() }}
                  </div>
                </ion-avatar>
                <ion-label>
                  <h3 class="title">Yanga,Ver.</h3>
                  <p class="subtext">
                    {{ registro.date }}
                  </p>
                  <p class="subtext">
                    {{ registro.cantidad_registros }} Registros
                  </p>
                </ion-label>
              </ion-item>
          
              <ion-item-options side="end">
                <!-- <ion-item-option color="danger" (click)="borrarAlumno(alumno.id)">
                  <ion-icon name="trash"></ion-icon>
                </ion-item-option> -->
                <ion-item-option class="new" (click)="descargarCSV(registro.date)">
                  <ion-icon class="color" name="download-outline"></ion-icon>
                </ion-item-option>
              </ion-item-options>
          
              </ion-item-sliding>
          
            </ion-list>
            <!-- <table class="table">
              <thead>
                <tr>
                  <th>Lugar</th>
                  <th>Fecha</th>
                  <th>Formato</th>
                  <th>Total de registros</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody class="table-border-bottom-0" *ngFor="let registro of registros">
                <tr>
                  <td>
                    <ul class="list-unstyled users-list m-0 d-flex align-items-center">
                      <li>
                        <img src="../../assets/img/illustrations/logoSinMarca.png" alt="Avatar" height="20">
                      </li>
                      <li style="margin-left:1rem">
                        <span class="fw-medium">
                          Yanga, Ver.
                        </span>
                      </li>
                    </ul>

                  </td>
                  <td>{{registro.date}}</td>
                  <td>
                    1 Archivo(CSV)
                  </td>
                  <td>
                    {{registro.cantidad_registros}} Registros
                  </td>
                  <td>
                    <div style="margin-left: .5rem;">
                      <i class="menu-icon tf-icons bx bx-download" (click)="descargarCSV(registro.date)"></i>
                      <i class="menu-icon tf-icons bx bx-show-alt"></i>
                    </div>
                  </td>
                </tr>
                
              </tbody>
            </table> -->
            
          </div>
        </div>
        
        <!--/ Basic Bootstrap Table -->

        <hr class="my-5">



      </div>
      <!--/ Responsive Table -->



      <!-- / Content -->

      

      <div class="content-backdrop fade"></div>
    </div>
    <!-- Content wrapper -->
  </div>
    </div>
  </div>
</ion-content>
