<ion-content>
  <div id="header">
    <div id="app-bar">
      <img src="assets/icon/logoAQdron.png">
      <h1>AQdron</h1>
    </div>
  </div>

  <div class="wrapper">
    <ion-card class="form-wrapper">
      <ion-card-content>
        <h4 class="mb-2">¡Bienvenido! 👋</h4>
        <p class="mb-4">Inicie sesión en su cuenta y comience la aventura.</p>

        <form id="formAuthentication" class="mb-3" #f="ngForm" (ngSubmit)="onSubmit(f)">
          <div class="mb-3">
            <label for="email" class="form-label">Correo Electrónico</label>
            <input type="text" class="form-control" id="email" ngModel name="correo" placeholder="Ingresar correo electrónico" autofocus>
          </div>
          <div class="mb-3 form-password-toggle">
            <div class="d-flex justify-content-between">
              <label class="form-label" for="password">Contraseña</label>
            </div>
            <div class="input-group input-group-merge">
              <input type="password" id="password" class="form-control" ngModel name="contrasenia" placeholder="············" aria-describedby="password">
              <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
            </div>
          </div>
          <div class="mb-3">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="remember-me">
              <label class="form-check-label" for="remember-me"> Recordar Contraseña</label>
            </div>
          </div>
          <div class="mb-3">
            <button class="btn btn-primary d-grid w-100" type="submit">Iniciar Sesión</button>
          </div>
        </form>

        <p class="text-center">
          <span>¿Nuevo en nuestra plataforma?</span>
          <a routerLink="/register">
            <span> Crea una cuenta</span>
          </a>
        </p>
        
        <!-- <ion-item>
          <ion-icon name="mail"></ion-icon>
          <ion-input [(ngModel)]="user.email" type="text" placeholder="Correo electrónico"></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon name="lock-closed"></ion-icon>
          <ion-input [(ngModel)]="user.password" type="password" placeholder="Contraseña"></ion-input>
        </ion-item>
        <ion-button (click)="signIn()" class="login-button" expand="block">Iniciar sesión</ion-button> -->
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
